@using BlazorserverApp.Models;
@page "/pc"
<div>
    <h3>ParentComponent</h3>
    <ChildComponent Title="i am passing some title from parent to child"></ChildComponent>
    <a href="/RP/somtitle/34">route paramter component with paramters</a>
    <a hreg="/RP">without paramter routing</a>
    <CascadingValue Value="@Name" Name="Name" IsFixed="true">
        <CascadingValue Value="@Id" Name="Id">
            @*now there may be pergformance issues as asp.net will keep an eye on these cascade values*@
            @*to avoid add is fiexed true*@
            @*that will tell this will not change*@
            <CascadingCHildComponent></CascadingCHildComponent>
        </CascadingValue>
         
    </CascadingValue>
</div>
@*now we want to send some data to its child and then also grand child component*@
@*this can be done using cascading parameter*@


@*now we will send html razor or combination of these to child component using renderfragment*@
<TemplatedComponent>
    <Mysection>
        <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </Mysection>
    <Mysection2>
        <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
    </Mysection2>
   <Mysection3 Context="MyPro">
       <p>@MyPro.Id</p>
       <p>@MyPro.Name</p>
       <p>@MyPro.Price</p>
   </Mysection3>
</TemplatedComponent>
<TemplatedComponentGeneral list="@l" items="Product">
    <MySection4 Context="Pro">
        <p>@Pro.Id</p>
        <p>@Pro.Name</p>
        <p>@Pro.Price</p>
    </MySection4>
</TemplatedComponentGeneral>
@code {
      public List<Product> l = new List<Product>{

        new Product{Id=34,Name="aslam",Price=242 },
        new Product{Id=24,Name="aslajdfkm",Price=242 }
    };
    [Parameter]
    public String? Name { get; set; } = "User Name adil";
    [Parameter]
    public int? Id { get; set; } = 12;
    
  
}
